APP_NAME=Tofof
APP_ENV=production
APP_KEY=base64:LTODWqrGeiCsa6UYENoELQxz5bdHIv15fyRbaGL2KGw=
APP_DEBUG=false
APP_URL=https://tofofstore.com
APP_TIMEZONE=Asia/Baghdad

ASSET_URL=${APP_URL}
# =============================================

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DBROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
DB_DATABASE=tofof
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax
SESSION_DOMAIN=null
SESSION_PATH=/

CACHE_STORE=file

WHATSAPP_ACCESS_TOKEN=EAAOtComIqXYBP6IYLkvboCClw0fE9DX4bMfGTAPZBuN12AuHpBF0VHab0WPUNx0ZBlZBWY3GxQqJyZC3k2SFrQZCpitkSbASwquL0SXo0XfNu0ZBYHSruUmMyEXN9Kj3Eqnk9YieC1DpMyizNRZA5AGOUBPTcGP2nBSOjhzKqz1qIuMT146szvSUVZCWTinurk9M86QPZArKbrfGE4QQXMCzmqCEM1GEhK6RzcHXfnLZADZAkbohZBbfxHrpZAZA8gSKjDOBCrNtYeHZCogXFpl5EoLjkwp0wZDZD
WHATSAPP_PHONE_NUMBER_ID=754410354416971
WHATSAPP_VERIFY_TOKEN=TofofToken123
WHATSAPP_SERVICE_URL=http://localhost:3001
WHATSAPP_SERVICE_KEY=change_this_secret
OTP_DISABLED=true

VAPID_PUBLIC_KEY=BAZCnmhOzILj_9D3PlPL5eIX9_sokrolKemT7Il_NGiA9o8dsbQllq1YOLNlGPpHu_OXPU_NEGuBNOu2XJ5ef38
VAPID_PRIVATE_KEY=PrGu7RpIFKia7xey_vgdCnzAQwMSowQ-fggyZ6uA3Iw

TELEGRAM_BOT_TOKEN=7313442146:AAG6FPCbaM9CABRDlim-3lnTDHD4VGO3AYUsdf
TELEGRAM_CHAT_ID=-1002712434223ccxx
TELEGRAM_PARSE_MODE=HTML