// ألوان وخطوط مستوحاة من Lavender

// Body
$body-bg: #f7f6fa;

// Typography
$font-family-sans-serif: 'Cairo', 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.7;

// Colors
$primary: #a084ca;
$secondary: #e1d5ec;

// Navbar
$navbar-bg: #f7f6fa;
$navbar-brand-color: #a084ca;
